<div class="center jumbotron">
	<h1>Welcome to the Sample App from Memory</h1>
	<h2>This is the homepage for the <%= link_to("Rails Tutorial", "railstutorial.org") %> sample app that I'm doing bit by bit from memory, without Cloud9</h2>

	<%= link_to("Sign up now!", "#", class: "btn btn-large btn-primary") %><br>
</div>
<div>

	<%= link_to image_tag("rails.png", alt: "rails logo"), "http://railstutorial.org" %>
</div>
